# Basic Sales Data Insights

In [1]:
# Importing required Libraries.
import pandas as pd
import numpy as np

In [2]:
# importing dataset
df = pd.read_csv('dataset.csv')

## Overview of data

In [3]:
df.head()

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI

In [4]:
df.isnull().sum()

OrderID          0
Date             0
Region           0
CustomerName     2
Product          0
Quantity         1
UnitPrice        2
TotalSales       2
PaymentMethod    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        20 non-null     int64
 1   Date           20 non-null     object
 2   Region         20 non-null     object
 3   CustomerName   18 non-null     object
 4   Product        20 non-null     object
 5   Quantity       19 non-null     float64
 6   UnitPrice      18 non-null     float64
 7   TotalSales     18 non-null     float64
 8   PaymentMethod  20 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.5+ KB

## Data Cleaning

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df = df.dropna(subset=['CustomerName'])

In [8]:
cols = ['Quantity', 'UnitPrice', 'TotalSales']
df['null_count'] = df[cols].isnull().sum(axis=1)
df = df[df['null_count']<2]
df = df.drop(columns='null_count')

In [9]:
df.loc[df['UnitPrice'].isnull(), 'UnitPrice'] = (df['TotalSales'] / df['Quantity'])

## Insights

### Sum of sales by region

In [10]:
sale_by_region = df.groupby('Region')['TotalSales'].sum()
sale_by_region

Region
East     2520.0
North    3765.0
South    3830.0
West     1285.0
Name: TotalSales, dtype: float64

### Average sales per product

In [11]:
avg_sale_product = df.groupby('Product')['TotalSales'].mean()
print(avg_sale_product)

Product
Headphones       415.0
Keyboard         342.5
Laptop          1052.5
Mobile Phone     897.5
Monitor          492.5
Smart Watch      200.0
Tablet           900.0
Name: TotalSales, dtype: float64

### Highest & lowest selling products

In [12]:
product_Sales = df.groupby('Product')['TotalSales'].sum()
highest = product_Sales.idxmax()
lowest = product_Sales.idxmin()
print(f'Highest Selling Product: {highest}, Total: {product_Sales[highest]}')
print(f'Lowest Selling Product: {lowest}, Total: {product_Sales[lowest]}')

Highest Selling Product: Laptop, Total: 4210.0
Lowest Selling Product: Smart Watch, Total: 200.0

### mean, median, standard deviation of numerical fields

In [13]:
numeric_c = ['Quantity','UnitPrice', 'TotalSales']
for i in numeric_c:
    print(f'{i} Mean = {np.mean(df[i])}')
    print(f'{i} Median = {np.median(df[i])}')
    print(f'{i} Std Div = {np.std(df[i])}')
    print()

Quantity Mean = 3.0625
Quantity Median = 2.0
Quantity Std Div = 2.3040385738958453

UnitPrice Mean = 334.375
UnitPrice Median = 292.5
UnitPrice Std Div = 235.5172167273552

TotalSales Mean = 712.5
TotalSales Median = 602.5
TotalSales Std Div = 422.407534260458